$buttonsBackground: #000;
$figureSize: 18px;

.diagram-menu-btn__wrapper {
    display: inline-block;
}
.diagram-menu-btn {
    background: #f5deb3;
    margin: 2px;
    padding: 0;
    cursor: pointer;
    border: 2px outset #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}

 .diagram-menu-btn__mouse-down {
    border-style:  inset;
}

.diagram-menu-btn__square {
    width: $figureSize;
    height: $figureSize;
    
}

.diagram-menu-btn__line {
    width: 2px;
    height: $figureSize;
    
}

.diagram-menu-btn__undo {
    background: $buttonsBackground;
}

.diagram-menu-btn__redo {
    background: $buttonsBackground;
}

.diagram-menu-btn__content {
    display: inline-block;
    background: $buttonsBackground;
}