.diagram-menu {
    position: absolute;
    z-index: 2;
    width: 100px;
    border: 1px solid #708090;
    background: #008080;
    text-align: center;
    top: 10px;
    left: 10px;
}

.diaram-menu-icon {
    display: inline-block;
}