.diagram-menu {
    position: absolute;
    z-index: 2;
    width: 100px;
    border: 1px solid #708090;
    background: #008080;
    top: 10px;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.diagram-menu-component__wrapper {
    padding: 0 5px;
}

.diaram-menu-icon {
    display: inline-block;
}