.icon-full-screen::before {
    content: "";
    display: inline-block;
    background: url('svg-icons/enlarge.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-pdf::before {
    content: "";
    display: inline-block;
    background: url('svg-icons/file-pdf.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-save::before {
    content: "";
    display: inline-block;
    background: url('svg-icons/floppy-disk.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-forward::before {
    content: "";
    display: inline-block;
    background: url('svg-icons/forward.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-link::before {
    content: "";
    display: inline-block;
    background: url('svg-icons/link.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-reply::before {
    content: "";
    display: inline-block;
    background: url('svg-icons/reply.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-search::before {
    content: "";
    display: inline-block;
    background: url('svg-icons/search.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-shrink::before {
    content: "";
    display: inline-block;
    background: url('svg-icons/shrink.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-star-empty::before {
    content: "";
    display: inline-block;
    background: url('svg-icons/star-empty.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-star-full::before {
    content: "";
    display: inline-block;
    background: url('svg-icons/star-full.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-zoom-in::before {
    content: "";
    display: inline-block;
    background: url('svg-icons/zoom-in.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-zoom-out::before {
    content: "";
    display: inline-block;
    background: url('svg-icons/zoom-out.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}