.app-header {
    background: #6699ff;
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 1px grey
}

.app-title {
    margin-right: 75px;
}
